.side-bar
  .side-bar__user-name
    .side-bar__top-items
      .side-bar__name
        chiaki
      .side-bar__icons
        =link_to "#", class:"icons" do
          = icon('fas', 'edit')
        =link_to "#", class:"icons" do
          = icon('fas', 'cog')

  .side-bar__group-box
    .side-bar__g-name
      techcamp
    .side-bar__message
      まだメッセージがありません。
  .side-bar__group-box
    .side-bar__g-name
      techcamp
    .side-bar__message
      まだメッセージがありません。
  .side-bar__group-box
    .side-bar__g-name
      techcamp
    .side-bar__message
      まだメッセージがありません。
